<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light mb-4" style="background:#fffef9;border-bottom:1px solid #e0d6c5;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Книжный магазин</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Разделы
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sectionsDropdown">
                        <li><a class="dropdown-item" th:href="@{/books/top-selling}">Популярные</a></li>
                        <li><a class="dropdown-item" th:href="@{/books/top-selling}">Популярные новинки</a></li>
                        <li><a class="dropdown-item" th:href="@{/authors}">Авторы</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex me-3" th:action="@{/books/search}" method="get">
                <input class="form-control me-2" type="search" placeholder="Поиск книг" aria-label="Search" name="title">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>

            <div class="d-flex">
                <a class="btn btn-outline-primary me-2" th:href="@{/profile}" sec:authorize="hasRole('USER')">Профиль</a>
                <a class="btn btn-outline-primary me-2" th:href="@{/admin/users}" sec:authorize="hasRole('ADMIN')">Пользователи</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-danger">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</nav>
